<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
<!-- <link href="{{ url_for('static',filename='css/bootstrap.css') }}" rel="stylesheet" /> -->
    <link  rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">

</head>
<body>
    <div class="header">
        <h1>Aplikasi Pengenalan Wajah</h1>
        <p>Registrasi</p>
    </div>
    <ul>
      <li><a href="{{url_for('home')}}">Tambah Data Wajah</a></li>
      <li><a href="{{url_for('train')}}">Train Data</a></li>
    </ul>
    <div align="center" style="margin: 20px">
      <img src="/static/Check.gif" width="400px" height="300px">
        <h1>{{ pesan1 }}</h1>
        <p1>{{ pesan2}}</p1>
          </div>

</body>
</html>